#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

export M2_REPOSITORY="~/.m2/repository";
export MAVEN_REPOSITORY="$M2_REPOSITORY";
export MAVEN_OPTS="-Xmx1024m -Xms64m -XX:+UseConcMarkSweepGC -XX:+UseParNewGC -Dsurefire.useFile=false";
export ANT_OPTS="-Xmx1024m -Xms64m -XX:+UseConcMarkSweepGC -XX:+UseParNewGC -Dsurefire.useFile=false";

JAVA_VERSION=1.8
export JAVA_HOME=$(/usr/libexec/java_home -v $JAVA_VERSION*)
#alias setjdk16='export JAVA_HOME=$(/usr/libexec/java_home -v 1.6*)'
#alias setjdk17='export JAVA_HOME=$(/usr/libexec/java_home -v 1.7*)'
#alias setjdk18='export JAVA_HOME=$(/usr/libexec/java_home -v 1.8*)'

if [ -n "$JAVA_HOME" ]; then
    export PATH=$JAVA_HOME/bin:$PATH
fi

#export DISPLAY=:0.0;

#
if which pyenv-virtualenv-init > /dev/null; then eval "$(pyenv virtualenv-init -)"; fi

if [ -d "/Applications/Postgres.app/Contents/Versions/latest" ]; then
    export PG_HOME="/Applications/Postgres.app/Contents/Versions/latest";
elif [ -d "/Library/PostgreSQL" ]; then
    export PG_HOME="/Library/PostgreSQL";
    export PGUSER=postgres;
fi
if [ -n "$PG_HOME" ]; then
    #export PAGER=less;
    export PATH=$PG_HOME/bin:$PATH;
fi
